html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: sans-serif;
}
.f {
  color: #eee;
}
.e {
  color: #999;
}
header {
  margin: 0;
  padding: 5px 15px;
  background: #212121;
  display: flex;
  justify-content: space-between;
}
.header {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.header a {
  text-decoration: none;
  color: #eee;
  cursor: none;
}
header h1 {
  font-size: 17px;
  color: #fff;
}
.content {
  margin: 16px;
  background: #212121;
  border-radius: 8px;
  padding: 17px;
}
.content.first {
  background-color: #20a5aa;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}
.content.first p {
}
.content.flex {
  display: flex;
  justify-content: space-between;
}
.content .flex {
  display: flex;
  justify-content: space-between;
}

.content .flex .mag span {
  margin-right: 20px;
  margin-left: -20px;
  font-size: 22px;
}

.mag {
  width: 100%;
  margin-left: 15%;
  color: #20a5aa;
  font-weight: 800;
}

.dow {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
  width: 100%;
}
.p2 {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 2px;
}
.p1 {
  line-height: 0.9;
  font-size: 11px;
  width: 70%;
}
.footer {
}
.footer h2 {
  font-size: 16px;
  line-height: 1px;
  margin-top: 5px;
}
.footer p {
  font-size: 11px;
  line-height: 1;
}
.info {
  display: flex;
}
.span {
}
.span p,
span.sp1 {
  color: #999;
  font-size: 11px;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 16px;
  font-size: 400;
}
.span span.sp2 {
  font-size: 11px;
  font-weight: 800;
  display: inline-block;
  margin-left: 5px;
}
.btn {
  padding: 7px 14px;
  background: #20a5aa;
  border-radius: 6px;
}
.sar {
  margin-left: 40px;
}
.fas {
  display: inline-block;
}
.int {
  margin-left: 35px;
}
.img,
.img span {
  line-height: 1;
  margin-top: 10px;
  font-size: 25px;
}
.img span {
  margin-left: 20px;
  margin-right: 15px;
}
.dow span {
  margin-right: 17px;
  margin-left: 7px;
}
